.SectionTitle { 
    padding: 3vh 0;
    width: 100%;
    color: #faffff;
    text-transform: uppercase;
    h2, h3, p {
        color: #faffff;
    }
}

.SubTitleDivider {
    height: 1px;
    width: 100%;
    background: #faffff;
}
