.EmailPage {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.Content {
    width: 85%;
    text-align: center;
}

.TemplateInfo {
    background: rgb(18, 144, 231, 0.8);
    border-bottom: #256EFF 1px solid;
}

